 * { margin: 0; padding: 0; }
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body{
 	font-family: 'Raleway', sans-serif;
 }
.flexbox{
	display:flex;
}
header{
	position:fixed;
	background-color:#31455A;
	width:100%;
	top:0;
	color:whitesmoke;
	font-weight:bolder;
	padding: 5px 60px;
}
header a{
	text-align: center;
	text-decoration:none;
	color:whitesmoke;
	font-size: 15px;
}
header a:hover{
	color:#18BC9C;
}
header h3{
	font-size: 26px;
	margin-top:8px;
}
/*home*/
#home{
	padding:150px 20px;
	text-align: center;
	background-color: #18BC9C;
	color:white;
}

 /*portfolio*/
 #portfolio {
	padding:150px 20px;
	text-align: center;
	color: #333333; 
	font-size: 27px;
	font-weight: bolder;
	background-color: white;

}
img{
	height:30%;
	width:33%;
	padding: 10px;
}