header a{
	text-align: center;
	text-decoration:none;
	color:whitesmoke;
	font-size: 15px;
	padding:10px;
}
header a:hover{
	color:#18BC9C;
}
header h3{
	font-size: 26px;
	margin-top:8px;
}
div.links{
	margin-top:6px;
}
header .flexbox{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.linea.start{
 	height: 5px;
 	width: 10%;
 	margin-top: -20px;
 	display: inline-block;
 	background-color: white;
 }
/*home*/
#home h1{
	font-size: 30px;
	font-weight: bolder;
}
#home p{
	font-size:15px;
}
/*portfolio*/
.portfolio.flexbox{
	flex-direction: column;
}
.linea.portfolio{
 	height: 5px;
 	width: 90px;
 	margin-top: 13px;
 	display: inline-block;
 	background-color: black;
 }

 .flexbox .portfolio-text{
 	padding: 10px 100px;
 	text-align: center;
 	flex-direction: column;
 }
 .hr.flexbox{
 	flex-direction: row;
 	padding:0px 400px;
 }
.gallery.flexbox{
	flex-direction:column;
	justify-content: space-between;
 }
 .row.flexbox{
 	flex-direction: row;
 	justify-content: space-around;
 }